<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.drrabny.darrbyproject">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_logooooo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_logooooo"
        android:supportsRtl="false"
        android:theme="@style/AppTheme">
        <activity android:name=".Activities.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.IntroSliderActivity" />
        <activity android:name=".Activities.LoginActivity" />
        <activity
            android:name=".Activities.NavigationActivity"
            android:label="@string/title_activity_navigation"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Activities.SignUp_Activity">

        </activity>
        <activity android:name=".Activities.Error404_Activity" />
        <activity android:name=".Activities.FinishExamActivity"></activity>
    </application>

</manifest>